<div class="row">
  <section id="main-recipe-content" class="col-md-8 col-md-push-4 main-recipe-content">
    <div class="card card-push-down">
      {{> recipes/show-recipe}}
    </div>
  </section>
  <div class="col-md-4 col-md-pull-8">
    <aside id="recipe-sidebar" class="card recipe-sidebar card-push-down">
      <div class="header header-amber text-center">
        <h4>Your Recipes</h4>
      </div>
      <div class="recipe-list-wrap">
        {{#if recipes}}
          <ul class="recipes-list">
            {{#each recipes}}
              <li class="recipe-list-item" data-recipe-id="{{id}}">
                <a class="recipe-item" data-recipe-id="{{id}}" href="#">{{name}}</a>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <div class="text-center">
            <p>You don't have any recipes yet. Make some by using the button below!</p>
          </div>
        {{/if}}
      </div>
      <button id="new-recipe-btn" class="btn btn-warning btn-fab btn-fab-mini btn-round pull-right sidebar-new-recipe">
        <i class="material-icons">add</i>
      </button>
    </aside>
  </div>
</div>
