<div class="row">
  <div class="col-md-3">
    <button id="new-recipe-btn" class="btn btn-lg btn-primary">New Recipe</button>
    <aside id="recipe-sidebar">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your Recipes</h3>
        </div>
        <div class="panel-body">
          {{#if recipes}}
          <ul class="list-group recipes-list">
            {{#each recipes}}
              <li class="list-group-item">
                <a class="recipe-item" data-recipe-id="{{id}}" href="#">{{name}}</a>
              </li>
            {{/each}}
          </ul>
          {{else}}
            <p>You don't have any recipes yet.</p>
          {{/if}}
        </div>
      </div>
    </aside>
  </div>
  <section id="main-recipe-content" class="col-md-9">
    <div class="panel panel-default">
      {{> recipes/show-recipe}}
    </div>
  </section>
</div>
<div class="row">

</div>
<!-- Aside of recipe links -->
<!-- Show recipe panel -->
