$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'material-kit/variables';
@import 'material-kit/mixins';
@import 'material-kit/shadows';
@import 'material-kit/core';

@import 'material-kit/ripples';

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 500px white inset;
}

.navbar {
  border-radius: 0;
}

.navbar-amber {
  background-color: $amber-600;
  color: $white;
}

.card .header {
  margin: -40px 15px 15px;
}

.header.header-amber {
  background-color: $amber-600;
  color: $white;
}

.card-push-down {
  margin-bottom: 50px;
  margin-top: 50px;
}

.card-wrapper {
  margin: 0 15px;
}

// Sidebar
.recipes-list {
  padding: 0 16px;
}

.recipe-sidebar {
  margin-bottom: 25px;
}

.recipe-list-wrap {
  padding-top: 10px;
}

.recipe-list-item {
  font-size: 16px;
  list-style: none;
  padding: 15px 0;

  a {
    color: $grey-700;
    font-weight: 300;
    padding-left: 10px;
  }

  a:hover {
    text-decoration: none;
  }
}

.recipe-list-item:hover {
  background-color: $grey-100;
}

.sidebar-new-recipe {
  bottom: 12px;
  right: 12px;
}

// Show recipe
.spec-well {
  margin-bottom: 5px;
}

.main-recipe-content {
  .show-btn-recipe {
    margin-bottom: 14px;
    margin-left: 12px;
  }
}

// Form
.required label::after {
  color: $red-700;
  content: ' *';
  display: inline;
}

.btn.btn-danger.destroy-ingredient-btn {
  margin-top: 12px;
}

.ingredient-wrapper {
  margin: 6px 0;
  padding: 15px 0;
}

.ingredient-form-group {
  margin-top: 8px;
}

.btn.btn-warning.add-ingredient-btn {
  margin: 6px 14px 6px 0;
}
