$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'material-kit/variables';
@import 'material-kit/mixins';
@import 'material-kit/shadows';
@import 'material-kit/core';

@import 'material-kit/ripples';

.welcome {
  margin-top: 5%;

  .btn {
    margin: 10px 5px;
  }

  .bottles-img {
    max-width: 300px;
    display: block;
    margin: 15px auto 0;
  }
}

.navbar {
  border-radius: 0;

  .dropdown-menu li > a:hover {
    background-color: $grey-100;
    box-shadow: none;
    color: $grey-850;
  }

  .navbar .dropdown-menu li > a:focus {
    background-color: $grey-100;
    box-shadow: 0;
    color: $grey-850;
  }

}

.navbar-amber {
  background-color: $amber-600;
  color: $white;
}

.card .header {
  margin: -40px 15px 15px;
}

.header.header-amber {
  background-color: $amber-600;
  color: $white;
}

.card-push-down {
  margin-bottom: 50px;
  margin-top: 50px;
}

.card-wrapper {
  margin: 0 15px;

  .bottles-img {
    max-width: 300px;
    display: block;
    margin: 25px auto;
  }
}

// Sidebar
.recipes-list {
  padding: 0 16px;
}

.recipe-sidebar {
  margin-bottom: 25px;
}

.recipe-list-wrap {
  padding: 5px 0 14px;
}

.recipe-list-item {
  font-size: 16px;
  list-style: none;
  padding: 15px 0;

  a {
    color: $grey-700;
    font-weight: 300;
    padding-left: 10px;
  }

  a:hover {
    text-decoration: none;
  }

  a:focus {
    text-decoration: none;
  }
}

.recipe-list-item:hover {
  background-color: $grey-100;
  border-radius: 3px;
}

.sidebar-new-recipe {
  bottom: 15px;
  right: 15px;
}

// Show recipe
.spec-well {
  margin-bottom: 5px;
}

.main-recipe-content {
  .show-btn-recipe {
    margin-bottom: 14px;
    margin-left: 12px;
  }
}

.show-ingredients-list {
  padding-left: 10px;

  li {
    list-style: none;
    line-height: 1.8em;
  }
}

// Form
.required label::after {
  color: $red-700;
  content: ' *';
  display: inline;
}

.btn.btn-danger.destroy-ingredient-btn {
  margin-top: 12px;
}

.ingredient-wrapper {
  margin: 6px 0;
  padding: 15px 0;
}

.ingredient-form-group {
  margin-top: 8px;
}

.btn.btn-warning.add-ingredient-btn {
  margin: 6px 14px 6px 0;
}

.form-group.is-focused {
  label {
    color: $red-700;
  }

  .form-control {
    background-image: linear-gradient($red-700, $red-700);
  }
}

// Alerts
.alert {
  .close {
    right: 0;
    top: 8px;
  }

  p {
    padding-top: 6px;
  }
}
