<div class="row ingredient-wrapper">
  <div class="form-group">
    <div class="col-xs-2">
      <input name="recipe[recipe_ingredients_attributes][][quantity]" type="number" class="form-control form-inline ingredient-field" placeholder="Qty">
    </div>
    <div class="col-md-2">
      <select name="recipe[recipe_ingredients_attributes][][ingredient_attributes][unit]" class="form-control form-inline ingredient-field">
        <option>oz</option>
        <option>gal</option>
        <option>lb</option>
        <option>tsp</option>
        <option>tbs</option>
      </select>
    </div>
    <div class="col-md-7">
      <input name="recipe[recipe_ingredients_attributes][][ingredient_attributes][name]" type="text" class="form-control form-inline ingredient-field" placeholder="Ingredient">
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger pull-right destroy-ingredient-btn">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
<hr />
