<div class="header header-amber text-center">
  <h4>New Recipe</h4>
</div>
<div class="card-wrapper">
  <form id="new-recipe-form" autocomplete="off">
    <fieldset>
      <div class="form-group required">
        <label for="recipeName">Name</label>
        <input id="recipe-name" class="form-control" name="recipe[name]" type="text" required>
      </div>
      <div class="form-group">
        <label for="recipeName">Image URL</label>
        <input id="recipe-image-url" class="form-control" name="recipe[image_url]" type="url" pattern="(https?:\/\/.*\.(?:png|jpe?g|gif))" oninvalid="this.setCustomValidity('You must provide a valid image URL or leave this field blank.')" oninput="setCustomValidity('')" placeholder="Example: http://i.imgur.com/homebrew.jpg">
      </div>
      <div class="form-group">
        <label for="recipeSummary">Summary</label>
        <textarea id="recipe-summary" class="form-control" name="recipe[summary]" rows="4"></textarea>
      </div>
      <div class="form-group required">
        <label for="recipeInstructions">Instructions</label>
        <textarea id="recipe-instructions" class="form-control" name="recipe[instructions]" rows="6" required></textarea>
      </div>
      <div class="form-group">
        <label for="recipeName">ABV</label>
        <input id="recipe-abv"  class="form-control"name="recipe[abv]" type="number" min="0" step="0.1">
      </div>
      <div class="form-group">
        <label for="recipeName">IBU</label>
        <input id="recipe-ibu" class="form-control" name="recipe[ibu]" type="number" min="0" step="1">
      </div>
      <div class="form-group">
        <label for="recipeName">SRM</label>
        <input id="recipe-srm" class="form-control" name="recipe[srm]" type="number" min="0" step="1">
      </div>
      <div class="form-group">
        <label for="recipeName">Original Gravity</label>
        <input id="recipe-original-gravity" class="form-control" name="recipe[original_gravity]" type="number" min="0" step="0.001">
      </div>
      <div class="form-group">
        <label for="recipeName">Final Gravity</label>
        <input id="recipe-final-gravity" class="form-control" name="recipe[final_gravity]" type="number" min="0" step="0.001">
      </div>
      <label id="new-ingredient-btn" for="ingredients">Ingredients</label>
      <div class="row ingredient-wrapper card">
        <div class="form-group ingredient-form-group">
          <div class="col-xs-6 col-md-2">
            <input class="form-control form-inline ingredient-field" name="recipe[recipe_ingredients_attributes][][quantity]" type="number" min="0" step="0.01" placeholder="Qty">
          </div>
          <div class="col-xs-6 col-md-2">
            <select name="recipe[recipe_ingredients_attributes][][ingredient_attributes][unit]" class="form-control form-inline ingredient-field">
              <option>oz</option>
              <option>gal</option>
              <option>lbs</option>
              <option>tsp</option>
              <option>tbs</option>
              <option>gram</option>
              <option>cup</option>
              <option>pkg</option>
            </select>
          </div>
          <div class="col-xs-12 col-md-7">
            <input class="form-control form-inline ingredient-field" name="recipe[recipe_ingredients_attributes][][ingredient_attributes][name]" type="text" placeholder="Ingredient">
          </div>
        </div>
      </div>
      <div class="row button-control">
        <div class="col-xs-12">
          <button id="new-ingredient-btn" class="btn btn-warning btn-fab btn-fab-mini btn-round pull-right add-ingredient-btn" title="Click to add ingredients">
          <i class="material-icons">add</i>
        </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button id="new-recipe-submit-btn" class="btn btn-default btn-lg pull-right" type="submit" name="new-recipe-submit-btn">Submit</button>
          <div class="ripple-container"></div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
